Repository RhinosF1/PublicTestWiki-Inactive-Auto, pull requests merged in 2020-05, with the labels that each got.

#3 fixes
  .travis.yml
  remove.py
Labels: merge when green

#4 Update label.yml
  .github/workflows/label.yml
Labels: bug, merge when green

#6 Update remove.py
  remove.py
Labels: merge when green

#7 Remove rights automatically
  remove.py
  requirements.txt
Labels: merge when green

#9 Add usage instructions
  README.md
Labels: documentation, merge when green

#8 Add headers + throttling
  remove.py
Labels: enhancement, merge when green

#15 hide password while inputting
  remove.py
  requirements.txt
Labels: merge when green

#19 Create One Entry Point
  README.md
  main.py
  notify.py
  remove.py
Labels: merge when green

#20 Handle POST headers better
  .travis.yml
  main.py
  userinfo.cfg
Labels: bug, enhancement, merge when green

#24 edited the way of import library
  main.py
Labels: enhancement, merge when green
